NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
INTERNAL_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_WEBRTC_STUN_URLS=stun:stun.l.google.com:19302
NEXT_PUBLIC_WEBRTC_TURN_URLS=
NEXT_PUBLIC_WEBRTC_TURN_USERNAME=
NEXT_PUBLIC_WEBRTC_TURN_CREDENTIAL=
NEXT_PUBLIC_WEBRTC_DEBUG=false
